{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <div class="span9">
        <div class="alert alert-block alert-error fade in">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <div> {{ 'resetting.password_already_requested'|trans }}</div>
        </div>
    </div>
{% endblock %}
