{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="form-horizontal">
    <div>
        <div class="control-group">
            <label class="control-label" for="username">Username sau email</label>
            <div class="controls">
                <input type="text" class="form-control" id="username" name="username" required="required">
            </div>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <input type="submit"type="submit" id="_submit" name="_submit"
                   value="{{ 'resetting.request.submit'|trans }}" class="btn btn-success" />
        </div>
    </div>
</form>



