{% extends "base.html.twig" %}

{% block content %}
    <div class="span9">
        <h3>Schimba parola</h3>
        <div class="well">
            {% include "UserBundle:Resetting:reset_content.html.twig" %}
        </div>
    </div>
{% endblock content %}
