{% extends 'base.html.twig' %}

{% block content %}

    <div class="span9">
        <h3>Adauga carte</h3>
        <div class="well">
            {% include 'BookBundle:Form:add_edit_book.html.twig' %}
        </div>
    </div>

{% endblock %}

