<div  id="footerSection">
    <div class="container">
        <div class="row">
            <div class="span3">
                <h5>CONTUL MEU</h5>
                <a href="login.html">PROFILUL MEU</a>
                <a href="login.html">MODIFICA DATELE DE CONT</a>
            </div>
            <div class="span3">
                <h5>CARTI</h5>
                <a href="register.html">LISTA CU DORINTE</a>
                <a href="register.html">CARTI RECOMANDATE</a>
                <a href="register.html">CARTI PREMIUM</a>
            </div>
            <div class="span3">
                <h5>BOOKSTORE</h5>
                <a href="#">INTREBARI FRECVENTE</a>
                <a href="#">CONTACTEAZA-NE</a>
            </div>
        </div>
        <p class="pull-right">&copy; BookStore</p>
    </div>
</div>