<div id="sidebar" class="span3">
    {{ sonata_block_render(
    { 'type': 'books.block.category' },
    { 'extra_cache_keys': { 'block_id': 'books.block.category', 'updated_at': 'now' } }
    ) }}

    {{ sonata_block_render(
    { 'type': 'books.block.main_featured' },
    { 'extra_cache_keys': { 'block_id': 'books.block.main_featured', 'updated_at': 'now' } }
    ) }}

</div>