{% extends "base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block content %}

    <div class="span9">
        <h3>Schimba parola</h3>
        <div class="well">
            {% include "UserBundle:ChangePassword:changePassword_content.html.twig" %}
        </div>
    </div>

{% endblock content %}
