{% extends 'base.html.twig' %}

{% block carousel %}
    {{ sonata_block_render(
    { 'type': 'static_pages.block.banners' },
    { 'extra_cache_keys': { 'block_id': 'static_pages.block.banners', 'updated_at': 'now' } }
    ) }}
{% endblock %}

{% block content %}
    <div class="span9">
        {{ sonata_block_render(
        { 'type': 'books.block.featured' },
        { 'extra_cache_keys': { 'block_id': 'books.block.featured', 'updated_at': 'now' } }
        ) }}

        <h4>Ultimele carti adaugate</h4>
        {{ sonata_block_render(
        { 'type': 'books.block.latest' },
        { 'extra_cache_keys': { 'block_id': 'books.block.latest', 'updated_at': 'now' } }
        ) }}
    </div>
{% endblock %}
