{% extends 'base.html.twig' %}

{% block content %}
    <div class="span9">
        {{ sonata_block_render(
        { 'type': 'books.block.featured' },
        { 'extra_cache_keys': { 'block_id': 'books.block.featured', 'updated_at': 'now' } }
        ) }}
    </div>
{% endblock %}
