UserBundle\Entity\User:
    type:  entity
    table: user
    id:
        id:
            type: integer
            generator:
                strategy: AUTO

    fields:
        birthday:
            type: datetime
            nullable: true

        avatarUrl:
            type: string
            nullable: true