{% extends 'base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <div class="span9">
        <h3>Editarea informatiilor</h3>
        <div class="well">
            {{ include('@User/Profile/edit_content.html.twig') }}
        </div>
    </div>
{% endblock %}

