{% if bookLikes|length !=0 %}
<div class="book-likes">
    <h4>Carti apreciate</h4>
    {{ include('BookBundle:Block:slider_books_block.html.twig', {'books': bookLikes, 'sliderTitle': null}) }}
</div>
<hr>
{% endif %}

{% if bookWishlist|length !=0 %}
<div class="book-likes">
    <h4>Carti aflate in lista de dorinte</h4>
    {{ include('BookBundle:Block:slider_books_block.html.twig', {'books': bookWishlist, 'sliderTitle': null}) }}
</div>
<hr>
{% endif %}

{% if bookReader|length !=0 %}
<div class="book-likes">
    <h4>Carti citite</h4>
    {{ include('BookBundle:Block:slider_books_block.html.twig', {'books': bookReader, 'sliderTitle': null}) }}
</div>
{% endif %}


