{% extends 'base.html.twig' %}

{% block content %}
    <div class="span9">
        <h2 style="text-align: center">Lista autori</h2>
        <hr class="soft">
        <div class="tab-content">
            <div class="tab-pane  active" id="blockView">
                <ul class="thumbnails">
                    {% for author in authors %}
                        <li class="span3">
                            <div class="thumbnail">
                                <a href="product_details.html">
                                    <img src="{{ asset(author.imageUrl)|imagine_filter('author_list') }}" alt=""/>
                                </a>
                                <div class="caption">
                                    <h5>{{ author.lastName ~' '~ author.firstName }}</h5>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <hr class="soft"/>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '@BookBundle/Resources/public/js/author_list/list_controller.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}