{% block user_block %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <li class="user-header">
            <p>{{ 'Bine ai venit, %username%!' | trans({'%username%': app.user.username}) }}</p>
        </li>

        <li class="user-footer">
            <div class="pull-right">
                <a href="{{ logout_url() }}" class="btn btn-default btn-flat"><i
                            class="fa fa-sign-out fa-fw"></i> {{ 'Logout!' | trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </li>
    {% endif %}
{% endblock %}
